{% extends 'base.html' %} {% block title %} About {% endblock title %} 
{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="mbr-white col-md-10">
      <h3
        class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2 text-center"
      >
        MEET OUR TEAM
      </h3>
      <p
        class="mbr-text align-center pb-3 mbr-fonts-style display-5 text-center"
      >
        We are all very different. We were born in different cities, at
        different times, we love different music, food, movies. But we have
        something that unites us all. It is our company. We are its heart. We
        are not just a team, we are a family.
      </p>
      <div class="mbr-section-btn align-center text-center">
        <a class="btn btn-outline-dark" href="/contact">CONTACT US</a>
      </div>
    </div>
  </div>
</div>


{% endblock body %}
